html {
    box-sizing: border-box;
}
*, 
*::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');
/* font-family: 'Montserrat', 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400');
/* font-family: 'Roboto', 'Montserrat', sans-serif; */
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.clearfix {
    overflow: auto;
  }
.main_header {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main_logo a {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
    color: #95e1d3;
    cursor: pointer;
}
.main_list {
    display: flex;
    align-items: flex-end;
}
.main_list li {
    list-style-type: none;
}
.main_list li:not(:last-child) {
    margin-right: 55px;
}
.main_list li a {
    position: relative;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s linear;
}
.main_list li a::after {
    content: "";
    position: absolute;
    left: 0px;
    height: 4px;
    bottom: -10px;
    width: 0%;
    background-color: #f38181;
    transition: width 0.2s linear; 
}
.main_list li:hover a::after {
    width: 100%;
}
.main_list li:hover a {
    color: #f38181;

}
.main_container {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_items {
    position: relative;
    padding-left: 80px;
    max-width: 380px;
    text-align: left;
}
.main_items:nth-child(n+4) {
    margin-top: 90px;
}
.main_items h3 {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}
.main_items p {
    padding-top: 20px;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}
.main_items-img {
    position: absolute;
    left: 20px;
}
.main_text {
    margin-top: 100px;
    position: relative;
    text-align: center;
}
.main_text::after {
    content: "";
    position: absolute;
    left: 47%;
    height: 4px;
    bottom: -40px;
    width: 60px;
    background-color: #f38181;
}
.main_text h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}
.main_text h2 {
    padding-top: 14px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #333333;
}
.underline_text p {
    text-align: center;
    padding: 0 120px;
    margin-top: 90px;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}
.main_info {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.main_infot-team {
    position: relative;
}
.team_img-gradient {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
    transition: transform 0.2s linear;
    height: 470px;
    width: 380px;
    background-image: linear-gradient(to bottom right, #f38181, #fce38a);
}
.main_infot-team:hover .team_img-gradient {
    opacity: 0.9;
}
.team_img-bacground {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 470px;
    width: 380px;
    background-color: #95e1d3;
}
.team_social {
    opacity: 0;
    z-index: 3;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 75px;
    top: 200px;
    transition: opacity 0.2s linear;
}
.team_social li {
    background-color: #fce38a;
    list-style-type: none;
    text-align: center;
    transition: background-color 0.2s linear; 
}
.team_social-wrap {
    height: 56px;
    width: 56px;
}
.team_social li:not(:last-child) {
    margin-right: 1px;
}
.team_social li a {
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.team_social li a img {
    padding-top: 16px;
}
.team_social li:hover {
    background-color: #95e1d3;
}
.main_infot-team:hover .team_social,
.main_infot-team:focus .team_social {
    opacity: 1;
}
.main_infot-team a {
    text-decoration: none;
    text-align: center;
}
.main_infot-team a h3 {
    padding-top: 26px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.main_infot-team a p {
    padding-top: 8px;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}
.main_infot-team .team_img img {
    transition: transform 0.2s linear; 
}

.main_infot-team:hover .team_img-gradient {
    transform: translate(-10px, -10px);
 }
.main_infot-team:hover .team_img img {
   transform: translate(-10px, -10px);
}
.main_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    border-top: 2px solid #e5e5e5;
    padding: 25px 0px;
}
.footer_text p {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
.footer_tex-red {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: #f38181;
}

.footer_form input[type=email] {
    font-family: 'Roboto', 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #cccccc;
    height: 40px;
    width: 230px;
    text-align: left;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    border: 1px solid #e7e7e7;
}
.footer_form input[type=submit] {
    float: right;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    width: 150px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #95e1d3;

}