ul {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
     */
    list-style-type: none;
    text-align: center;
    

}
ul li {
    margin: 70px 60px;
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #626262;
    font-size: 17px;
    text-transform: uppercase; 
}
ul li a:hover {
<<<<<<< HEAD
    color: #03a9f4;
} 
.start_block {
    display: inline-block;
    max-width: 470px;
    margin: 10px 15px;

    
}
.main-sait  {
    text-align: center;
}
=======
    color: blue;
} 
>>>>>>> e5fa785418cf30f8ee6951c5e4a606f9f057f3a6
