@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
ul {
    list-style-type: none;
    text-align: center;
    

}
ul li {
    margin: 70px 60px;
    display: inline-block;
}
ul li a {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    text-decoration: none;
    color: #626262;
    font-size: 17px;
    text-transform: uppercase; 
}
ul li a:hover {
    color: #03a9f4;
} 
.start_block {
    text-align: left;
    display: inline-block;
    max-width: 470px;
    margin: 0px 15px;
}
.main-sait  {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    text-align: center;
}

  