html {
    box-sizing: border-box;
}
*, 
*::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff');
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff');
  }
@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/crimson-text-v8-latin-italic.woff2') format('woff2'),
         url('../fonts/crimson-text-v8-latin-italic.woff') format('woff');
}
@font-face {
    font-family: 'Charm';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/charm-v3-latin-regular.woff2') format('woff2'),
         url('../fonts/charm-v3-latin-regular.woff') format('woff');
  }

.main_wrapper {
    max-width: 940px;
    margin: 0 auto;
}
.main_header {
    display: flex;
    justify-content: space-between;
}
.main_logo {
    cursor: pointer;
    font-family: 'Charm', 'Crimson Text', serif;
    font-size: 28px;
    color: #fed136;
}
.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;
    list-style-type: none;
}
.main_menu li a {
    text-decoration: none;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    text-transform: uppercase;
    transition: color 200ms linear;
}
.main_menu li:hover a {
    color: #fed136
}

.main_text {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 75px;
}
.main_text h1 {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
    font-weight: bold;
}
.main_text p {
    padding-top: 10px;
    font-family: 'Crimson Text', 'Lora', serif;
    font-style: italic;
    font-size: 16px;
    color: #777777;
}
.main_block {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.main_block li {
    width: 290px;
    text-align: center;
}
.block-img_wrapper {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 3px solid #fed136;
    border-radius: 380%;
}
.main_block-img img {
    padding: 15px;
}
.main_block-text h2 {
    margin-top: 20px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #222222;
    font-weight: bold;
}
.main_block-text p {
    margin-top: 15px;
    font-family: 'Roboto Slab', 'Lora', serif;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}



.main_footer {
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(34, 34, 34); 
    padding-bottom: 100px;
    margin-top: 110px;
    padding-top: 90px;

}

.footer_text {
    text-align: center;
    margin-bottom: 75px;
}
.footer_text h1 {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.footer_text p {
    font-family: 'Crimson Text', 'Lora', serif;
    font-style: italic;
    padding-top: 10px;
    font-size: 16px;
    color: #777777;
}
.contact_form form input, textarea {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-weight: bold;
    border: none;
    
}
.contact_form input[type=text], 
input[type=email] {
    padding: 20px 0px 20px 20px;
    width: 455px;
}
.contact_form input:focus:valid {
    outline: 2px solid #07b929;
}
.contact_form input:focus:invalid {
    outline: 2px solid #e71111;
}
.contact_form textarea:focus:valid {
    outline: 2px solid #07b929;
}
.contact_form textarea:focus:invalid {
    outline: 2px solid #e71111;
}
.contact_form input[type=submit] {
    outline: none;
    color: #ffffff;
    margin-top: 30px;
    border: none;
    background-color: #fed136;
    padding: 25px 45px 25px 45px;
    text-align: center;
    cursor: pointer;
}
.contact_form textarea {
    height: 210px;
    padding-left: 20px;
    padding-top: 18px;
    width: 455px;
    resize: none;
}
form {
    text-align: center;
}
.form_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.form_wrapper-block1 {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
