html {
    box-sizing: border-box;
}
*, 
*::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300');
.main_wrapper {
    margin: 0 auto;
    max-width: 320px;
}
header {
    height: 540px;
    background-position: center;
    background-image: url(../img/topd.png);
    opacity: 0.9;
    background-color: #1a1915;
}
button {
    background: none;
    border: none;
}
.header_top {
    text-align: center;
}
.header_sait-logo {
    margin-bottom: 35px;
}
.header_sait-logo a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.header_text {
    text-align: center;
}
.header_text h1 {
    margin-bottom: 24px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.header_text h2 {
    margin: 0px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto','Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 18px;
}
.header_button {
    text-align: center;
}
.header_login-form button {
    outline: none;
    margin-bottom: 124px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    transition: border 0.2s linear;
}
.header_login-form button:hover,
.header_login-form button:focus {
    border-color: #ffffff;
}
.header_button button {
    outline: none;
    cursor: pointer;
    background-color: #ff4e50;
    padding: 12px 50px;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.main_text h2 {
    margin-top: 68px;
    text-align: center;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.main_card-container ul {
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}
.main_card {
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
}
.card_img {
    position: relative;
}
.card_img-icon {
    position: absolute;
    bottom: 0;
    right: 32px;

}
.card_img-icon img {
    border-radius: 100%;
    border: 4px solid #ffffff;
    padding: 10px;
}
.img-icon1 img {
    background-color: #ff4e50;
}
.img-icon2 img {
    background-color: #ffa507;
}
.img-icon3 img {
    background-color: #1cd7ad;
}
.img-icon4 img {
    background-color: #4e73db;
}

.bottom_button {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 56px;
}
.bottom_button button {
    outline: none;
    border: 2px solid #ff4e50;
    padding: 14px 76px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #ff4e50;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}

@media (min-width: 768px) {
    .main_wrapper {
        max-width: 768px;
    }
    header {
        height: 700px;
    }
    .header_top {
        margin-bottom: 156px;
        display: flex;
        justify-content: space-around;
    }
    .header_sait-logo {
        margin-bottom: 0px;
        margin-top: 30px;
        order: -1;
    }
    .header_login-form button {
        margin-bottom: 0px;
    }
    .header_button button {
        padding: 12px 30px;
    }
    .header_text h1 {
        font-size: 52px;
    }
    .header_text h2 {
        font-size: 24px;
    }
    .header_login-form button {
        margin-top: 38px;
    }
    .main_card-container {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 492px;
    }
    .main_card-container ul {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }
    .main_card-container ul li:nth-child(n+3) {
        margin-top: 55px;
    }
    .main_text {
        margin-bottom: 30px;
    }
    .bottom_button {
        margin-top: 0px;
    }
}
@media (min-width: 942px) {
    .main_wrapper {
        max-width: 942px;
    }
    .main_card-container {
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 942px;
    }
    .main_card-container ul li:nth-child(n+3) {
        margin-top: 0px;
    }
}