html {
    box-sizing: border-box;
}
*, 
*::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300');

header {
    height: 540px;
    background-position: center;
    background-image: url(../img/topd.png);
    opacity: 0.9;
    background-color: #1a1915;
}
button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
}
.header_sait-logo {
    margin-bottom: 35px;
}
.header_sait-logo a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.title-wrapper h1 {
    margin-bottom: 24px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.title-wrapper h2 {
    margin: 0px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto','Open Sans', sans-serif;
    font-weight: lighter;
    margin-bottom: 18px;
}
.header_login-form button {
    margin-bottom: 124px;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 15px;
    font-family: 'Montserrat','Open Sans', sans-serif;
    transition: border 0.2s linear;
}
.header_login-form button:hover,
.header_login-form button:focus {
    border-color: #ffffff;
}
.header_button button {
    background-color: #ff4e50;
    padding: 12px 50px;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.title {
    margin-top: 68px;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}



.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.picture-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
}

.photo { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.icon {
    border-radius: 100%;
    padding: 12px;
    border: 5px solid white;
}
.img-icon1 img {
    background-color: #ff4e50;
}
.img-icon2 img {
    background-color: #ffa507;
}
.img-icon3 img {
    background-color: #1cd7ad;
}
.img-icon4 img {
    background-color: #4e73db;
}

.icon-wrapper {
    position: absolute;
    height: 30px;
    bottom: 0;
    right: 0;
}
.cards h3 {
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
.cards p {
    margin-top: 15px;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto','Open Sans', sans-serif;
    font-weight: 200;
}
.bottom_button {
    margin-top: 16px;
    margin-bottom: 56px;
}
.bottom_button button {
    border: 2px solid #ff4e50;
    padding: 14px 76px;
    border-radius: 40px;
    font-size: 14px;
    color: #ff4e50;
    font-weight: bold;
    font-family: 'Montserrat','Open Sans', sans-serif;
}

@media (min-width: 768px) {
    header {
        height: 700px;
    }
    .header_top {
        margin-bottom: 156px;
    }
    .header_sait-logo {
        margin-bottom: 0px;
        margin-top: 30px;
        order: -1;
    }
    .header_login-form button {
        margin-bottom: 0px;
    }
    .header_button button {
        padding: 12px 30px;
    }
    .header_text h1 {
        font-size: 52px;
    }
    .header_text h2 {
        font-size: 24px;
    }
    .header_login-form button {
        margin-top: 38px;
    }

    .container {
        max-width: 748px;
    }
    
    .page-title {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 942px;
    }
}